@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main {
    min-height: max-content;
    width: 100%;
    margin: 90px 0;
    display: flex;
    justify-content: center;
}

input, button {
    margin-left: 10px;
}

input{ 
    width: 40%;
    height: 20%;
    padding: 10px 20px;
}

button {
    padding: 10px 20px;
}

.tag {
    background-color: seagreen;
    width: 40vw;
    height: 200px;
    margin: 0 auto;
    border-radius: 8px;

}
.tag *{
    text-align: center;
}

.tag-head {
    font-size: 36px;
    font-weight: 700;
}

.tag-name {
    background-color: white;
    position: relative;
    top: 30px;
    padding: 20px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.none {
    display: none;
}